.about-container {
  min-height: 100vh;
}
.about-about {
  width: 1200px;
  height: 741px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(249, 249, 249, 1);
}
.about-svg {
  top: 128px;
  left: 673px;
  width: 427;
  height: 427;
  position: absolute;
}
.about-frame74 {
  top: 102px;
  left: 101px;
  width: 514px;
  height: 322px;
  display: flex;
  padding: 37px 48px;
  position: absolute;
  box-shadow: 4px 12px 72px 0px rgba(4, 23, 24, 0.03999999910593033) ;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(37, 37, 37, 0.10000000149011612);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 21px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.about-frame73 {
  width: 417px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.about-frame70 {
  width: 171px;
  margin: 0 32px 0 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-frame66 {
  margin: 0 0 12px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-image2 {
  width: 154px;
  height: 195px;
  margin: 0 0 12px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-text {
  color: rgba(22, 22, 22, 1);
  width: 98px;
  height: auto;
  margin: 0 0 12px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text01 {
  color: rgba(22, 22, 22, 1);
  width: 182px;
  height: auto;
  opacity: 0.60;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.about-svg1 {
  width: 38;
  height: 1px;
  margin: 0 32px 0 0;
}
.about-frame69 {
  width: 171px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.about-frame661 {
  margin: 0 0 12px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-screen-shot20220717at2473 {
  width: 156px;
  height: 195px;
  margin: 0 0 12px 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-frame662 {
  margin: 0 0 12px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-text02 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text03 {
  color: rgba(22, 22, 22, 1);
  width: 182px;
  height: auto;
  opacity: 0.60;
  font-size: 10px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: 18px;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame61 {
  top: 33px;
  left: 665px;
  width: 469px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.about-text04 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text05 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text06 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text07 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text08 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text09 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text10 {
  top: 23px;
  left: 40px;
  color: rgba(101, 204, 75, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text11 {
  color: rgba(101, 204, 75, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 800px;
  font-stretch: normal;
  text-decoration: none;
}
.about-text12 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 800px;
  font-stretch: normal;
  text-decoration: none;
}
.about-selectingteamcuate {
  top: 176px;
  left: 643px;
  width: 412px;
  height: 285.87371826171875px;
  display: flex;
  position: absolute;
  box-shadow: 0px 12px 16px 0px rgba(69, 57, 15, 0.05999999865889549) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.about-backgroundcomplete {
  top: 24.711181640625px;
  left: 0px;
  width: 408px;
  height: 241px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-backgroundsimple {
  top: 29.059799194335938px;
  left: 10.16734504699707px;
  width: 388px;
  height: 230px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-table {
  top: 273.1495361328125px;
  left: 83.228515625px;
  width: 329px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-plant {
  top: 200.47445678710938px;
  left: 367.1099853515625px;
  width: 41px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-character4 {
  top: 51.07978820800781px;
  left: 300.26226806640625px;
  width: 111px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-character3 {
  top: 0px;
  left: 148.39707946777344px;
  width: 113px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-character2 {
  top: 86.2843017578125px;
  left: 75.80612182617188px;
  width: 255px;
  height: 200px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-character1 {
  top: 136.4464569091797px;
  left: 2.299715042114258px;
  width: 111px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-speechbubble {
  top: 64.82113647460938px;
  left: 231.20542907714844px;
  width: 50px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.about-bicheckcirclefill {
  top: 28px;
  left: 342px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.about-rectangle129 {
  top: 54px;
  left: 741px;
  width: 39px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(101, 204, 75, 1);
}
.about-frame75 {
  top: 462px;
  left: 102px;
  width: 513px;
  height: 240px;
  display: flex;
  padding: 37px 48px;
  position: absolute;
  box-shadow: 4px 12px 72px 0px rgba(4, 23, 24, 0.03999999910593033) ;
  box-sizing: border-box;
  align-items: center;
  border-color: rgba(37, 37, 37, 0.10000000149011612);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 21px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.about-frame731 {
  width: 417px;
  margin: 0 0 8px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.about-frame701 {
  width: 171px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-frame663 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-text13 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text14 {
  color: rgba(0, 0, 0, 1);
  width: 415px;
  height: auto;
  margin: 0 0 8px 0;
  opacity: 0.60;
  font-size: 9px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame751 {
  width: 417px;
  margin: 0 0 8px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.about-frame702 {
  width: 171px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-frame664 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-text15 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text16 {
  color: rgba(0, 0, 0, 1);
  width: 415px;
  height: auto;
  margin: 0 0 8px 0;
  opacity: 0.60;
  font-size: 9px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame741 {
  width: 417px;
  margin: 0 0 8px 0;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  border-color: transparent;
}
.about-frame703 {
  width: 171px;
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  flex-direction: column;
}
.about-frame665 {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-text17 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-text18 {
  color: rgba(0, 0, 0, 1);
  width: 415px;
  height: auto;
  opacity: 0.60;
  font-size: 9px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 600px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-frame72 {
  top: 681px;
  left: 908px;
  width: 239px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-text24 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 14px 0 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.about-link {
  display: contents;
}
.about-akariconslinkedinboxfill {
  width: 24px;
  height: 22px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.about-link1 {
  display: contents;
}
.about-akariconsinstagramfill {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
