.f-a-q-container {
  min-height: 100vh;
}
.f-a-q-f-a-q {
  width: 1200px;
  height: 854px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
  background-color: rgba(249, 249, 249, 1);
}
.f-a-q-frame61 {
  top: 33px;
  left: 665px;
  width: 468px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.f-a-q-text {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text01 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text02 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text03 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text04 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  margin: 0 40px 0 0;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text05 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  opacity: 0.60;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-bicheckcirclefill {
  top: 28px;
  left: 342px;
  width: 16px;
  height: 16px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: transparent;
}
.f-a-q-frame75 {
  top: 118px;
  left: 114px;
  width: 731px;
  height: 647px;
  display: flex;
  padding: 37px 48px;
  position: absolute;
  box-shadow: 4px 12px 72px 0px rgba(4, 23, 24, 0.03999999910593033) ;
  box-sizing: border-box;
  align-items: flex-start;
  border-color: rgba(37, 37, 37, 0.10000000149011612);
  border-style: solid;
  border-width: 0.5px;
  border-radius: 21px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 1);
}
.f-a-q-text06 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text10 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text11 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text12 {
  color: rgba(0, 0, 0, 1);
  width: 638px;
  height: auto;
  margin: 0 0 8px 0;
  opacity: 0.80;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 0 8px 0;
  font-size: 17px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 700px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text17 {
  color: rgba(0, 0, 0, 1);
  width: 638px;
  height: auto;
  margin: 0 0 8px 0;
  opacity: 0.80;
  font-size: 14px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-selectingteamcuate {
  width: 412.228515625px;
  height: 273.8033447265625px;
  display: flex;
  position: relative;
  box-shadow: 0px 12px 16px 0px rgba(69, 57, 15, 0.05999999865889549) ;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
}
.f-a-q-backgroundcomplete {
  top: 24.711181640625px;
  left: 0px;
  width: 408px;
  height: 241px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-backgroundsimple {
  top: 29.059799194335938px;
  left: 10.16734504699707px;
  width: 388px;
  height: 230px;
  opacity: 0.00;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-table {
  top: 273.1495361328125px;
  left: 83.228515625px;
  width: 329px;
  height: 1px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-plant {
  top: 200.47445678710938px;
  left: 367.1099853515625px;
  width: 41px;
  height: 73px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-character4 {
  top: 51.07978820800781px;
  left: 300.26226806640625px;
  width: 111px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-character3 {
  top: 0px;
  left: 148.39707946777344px;
  width: 113px;
  height: 113px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-character1 {
  top: 136.4464569091797px;
  left: 2.299715042114258px;
  width: 111px;
  height: 111px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-speechbubble {
  top: 64.82113647460938px;
  left: 231.20542907714844px;
  width: 50px;
  height: 45px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
}
.f-a-q-frame72 {
  top: 779px;
  left: 908px;
  width: 239px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.f-a-q-text18 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  margin: 0 14px 0 0;
  font-size: 12px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-link {
  display: contents;
}
.f-a-q-akariconslinkedinboxfill {
  width: 24px;
  height: 22px;
  margin: 0 14px 0 0;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.f-a-q-link1 {
  display: contents;
}
.f-a-q-akariconsinstagramfill {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.f-a-q-text19 {
  top: 23px;
  left: 40px;
  color: rgba(101, 204, 75, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-family: Outfit;
  font-weight: 800px;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text20 {
  color: rgba(101, 204, 75, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 800px;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-text21 {
  color: rgba(22, 22, 22, 1);
  height: auto;
  align-self: auto;
  font-style: normal;
  text-align: left;
  font-weight: 800px;
  font-stretch: normal;
  text-decoration: none;
}
.f-a-q-rectangle129 {
  top: 54px;
  right: 70px;
  width: 26px;
  height: 2px;
  position: absolute;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  background-color: rgba(101, 204, 75, 1);
}
